CREATE TABLE IF NOT EXISTS public.clients (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), name TEXT NOT NULL, logo TEXT NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), updated_at TIMESTAMP WITH TIME ZONE);
